@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    &copy; BiznisHike<br />
    <br />
    <abbr title="Phone">Phone</abbr>
    +92 300 88 55 011
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:waqqasjavaid@gmail.com">waqqasjavaid@gmail.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>